.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 50px;
    row-gap: 20px;

}

img {
    max-width: 75%;
    min-height: 100px;
    max-height: 100px;

}

a {
    text-decoration: none;

}

p {
    max-width: 300px;
}