body {
    background-color: black;
}

.americanFlag {
    display: grid;
    grid-template-rows: repeat(13, 1fr);

}



img {
    position: absolute;
    z-index: 1;
    /*3d layer */
    height: 350px;

}

.red {
    position: relative;
    height: 50px;
    min-width: 7%;
    background-color: red;


}

.white {
    position: relative;
    height: 50px;
    min-width: 100%;
    background-color: white;
}

@media only screen and (max-device-width: 480px) {
    .americanFlag {
        display: grid;
        grid-template-rows: repeat(13, 1fr);

    }



    img {
        position: absolute;
        z-index: 1;
        /*3d layer */
        height: 70px;

    }

    .red {
        position: relative;
        height: 10px;
        min-width: 7%;
        background-color: red;


    }

    .white {
        position: relative;
        height: 10px;
        min-width: 100%;
        background-color: white;
    }
}